<!DOCTYPE html>
<html>
<body>



<form action="/signup" method="post">
  <h3>CITY</h3>
  <select name="city">
    <option value="patiala">Patiala</option>
    <option value="rohtak">Rohtak</option>
    <option value="Chandigarh">Chandigarh</option>
    <option value="Delhi">Audi</option>
  </select>
<br>
<br>
<h3>ROLL NO</h3>
  <select name="rollno">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
  </select>
<br>
<br>
<h3> CLASS</h3>
  <select name="class">
    <option value="first">first</option>
    <option value="second">Second</option>
    <option value="third">Third</option>
    <option value="Fourth">Fourth</option>
  </select>

  <br><br>
  <input type="submit">
</form>

</body>
</html>
